.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.span {
    margin-left: 0.5rem;
    color: #0070f3;
}

.span::selection { background: white; }

.footer_text {

}

.footer_icons {

}